.tag{
  margin-right: 5px
}
.comment{
  padding: 5px 0 3px;
  margin: 0 0 0 15px; 
  border-top: 1px dashed #D8D8D8;
}
.btn-comment{
  opacity: 0.8; 
  line-height: 1.2;
  font-size: 11px;
  margin: 0 0 2px 5px;
}
.btn-comment:hover{
  opacity: 1;
}